@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  background-image: url("https://img.freepik.com/premium-photo/top-view-vegetarian-pizza-with-mushrooms_152898-855.jpg?w=1380");
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#app:before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}